@mixin flex($justify-content: null,$align-items: null, $direction: null){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}


@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


@mixin text-ellipsis($width){
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}