$colors: (
    "primary-bg": #ffffffcc,

    "gray-800" :#4c4f59,
    "gray-600": #8e8e93,
    "gray-400": #1f222e80,
    "gray-200": #f9f9f9,
    "gray-100": #8e8e930d, 

    "dark-color": #000000,
    "light-color": #ffffff,
    "blue-color": #007aff,

    "border-shade" : #ededed,
    "bg-shade" : #8e8e9330,
);

$square-colors: (
    "voilet": #9200ff,    
    "orange": #ff7100,
    "green": #d0db00,
    "blue": #00dcff,
    "brown": #6f6e74
);

$font-sizes: (
    "fs-600": 1.125rem,
    "fs-500": .938rem,
    "fs-400": .875rem,
    "fs-300": .75rem,
);


