@use "../abstracts/" as *;
@use "../components/" as *;

aside{
    flex-basis: 20%;
    height: calc(100vh - 4.375rem);
    @include position(relative);
}

.side-nav{
    margin-top: 1rem;
    padding-right: 0.6rem;
    &-item{
        padding: .4rem 1rem;
        cursor: pointer;
        &:hover{
            background-color: color("bg-shade");
        }

        &.active{
            background-color: color("bg-shade" );
            color: color("gray-800");
        }
    }
}


.square-icon{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    border: solid 3px;
    margin-right: 0.4rem;

    @each $name, $val in $square-colors{
        &-#{$name}{
            border-color: $val;
        }
    }
}


.side-btn-wrap{
    width: 100%;
    @include position(absolute, $bottom: 0, $left: 0);
    background-color: color("gray-200");
    @include flex;
}


.side-btn-icon{
    width: 50%;
    height: 50px;
    @include flex($justify-content: center, $align-items: center);
    &:first-child{
        border-right: 2px solid color("border-shade");
    }

    &:hover{
        background-color: color("blue-color");
        color: color("light-color");
    }
}

.btn{
    @extend %btn;
}

